@use '../../../styles/modules/inputs-and-controls' as iac;

.inputWrapper {
  @extend %iac-wrapper;
  display: flex;
  flex-direction: column;

  &.error > input {
    border-color: iac.$error-color;
  }

  .label {
    @extend %iac-label;
  }

  .input {
    @extend %iac-input;
  }

  .caption {
    @extend %iac-caption;
  }
}
